.product-title {
    font-size: 22px;
    margin: 15px 0;
}

.product-desc {
    font-size: 20px;
    margin-bottom: 15px;
}

.product-features {
    font-size: 15px;
    margin-bottom: 15px;
}

.product-price {
    font-size: 22px;
    margin-bottom: 15px;
}

.btns-wrap {
    display: flex;
    justify-content: center;
}

.product-image {
    text-align: center;
    img {
        width: 150px;
        height: 185px;
    }
}

.product-quantity {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    input {
        text-align: center;
    }
}

.red {
    color: red
}

.green {
    color: green
}